@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,900|Sacramento&display=swap');

body {
  font-family: 'Larsseit-normal';
}

// colors
$primary-color: #023047;
$secondary-color: #b8f2e6;
$primary-white: #fff;
$primary-black: #000;
$primary-red: #f00;
$primary-grey: #c4c4c4;
$secondary-grey: #828282;

// fonts
$raleway: 'Raleway', sans-serif;
$sacramento: 'Sacramento', cursive;
