@import '../../assets/scss/';

.auth-container.register {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;

  .form {
    max-width: 350px;
    width: 350px;

    .title {
      color: $primary-color;
      font-size: 60px;
      font-style: normal;
      font-weight: 800;
      letter-spacing: 0.32px;
      line-height: 64px;
      margin-bottom: 45px;
    }

    .sub-text {
      color: $primary-color;
      font-size: 15.75px;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0;
      line-height: 19.5px;
      margin-bottom: 27.75px;
    }

    .label {
      color: $secondary-grey;
      margin-bottom: 0;
    }

    .form-control {
      border: 0;
      border-bottom: 1px solid $primary-color;
      background-color: transparent;
      border-radius: 0;
      margin-top: 0rem;
      padding: 0.375rem 0.75rem 0.375rem 0;
      color: $primary-color;

      &:focus {
        box-shadow: none;
      }
    }

    .form-group {
      margin-bottom: 2rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .auth-container.register {
    height: fit-content;
    max-height: fit-content;
    min-height: 100vh;

    .navbar {
      position: fixed;
      width: 100%;
      z-index: 2;
      top: 0;
      background: $primary-white;
    }

    .form {
      max-width: 350px;
      width: 90%;
      margin: 61px 0 30px;

      .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 25px;
      }
    }
  }
}
