@import '../../assets/scss/';

.products {
  .navbar {
    border-bottom: 1px solid $primary-grey;
    position: fixed;
    width: 100%;
    padding: 0 20px;
    height: 50px;
    z-index: 2;
    top: 0;
    background-color: $primary-color;

    .navbar-brand {
      color: $primary-white;
    }
  }

  .btn-fit-content {
    width: fit-content;
    flex: 1;
  }

  .products-container {
    padding: 15px 20%;
    margin-top: 50px;

    .cart-div {
      position: relative;

      .cart-btn {
        display: flex;
        justify-content: center;

        &:hover {
          border: 0;
          color: initial;
        }
      }
      .cart-length {
        position: absolute;
        color: $primary-white;
        font-size: 18px;
        top: 18px;
      }
    }

    .card-container {
      display: grid;
      grid-template-columns: repeat(3, 30%);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 5%;
      grid-row-gap: 0px;

      .card {
        min-width: 250px;
        margin-bottom: 20px;
        justify-items: center;

        .card-image-container {
          height: 250px;
        }

        .card-img-top {
          height: 250px;
        }

        .card-body {
          .card-title {
            font-size: 18px;
          }
          .card-text {
            font-size: 14px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 740px) {
}
