@import '../../assets/scss/index';

.navbar {
  padding: 0.25rem 50px;

  .navbar-brand {
    color: $primary-color;
    font-family: $sacramento;
    font-size: 24px;
  }
}

@media screen and (max-width: 625px) {
  .navbar {
    height: fit-content;
    padding: 10px 20px !important;

    .navbar-brand {
      font-size: 15px;
    }
  }
}
